<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Clock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome To WorldClock</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container my-3">
      <h1 class="text-center">Welcome to World Clock</h1>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">India <i class="bi bi-clock"></i></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title" id="india"></h1>
            <ul class="list-unstyled mt-3 mb-4">
            <li>India Timezone</li>
              <li>Watch Time</li>
              <li>Set Alarm</li>
              <li>Know about timeZone</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">More About This Zone</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">United States <i class="bi bi-clock"></i></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title" id="us"></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Usa Timezone</li>
              <li>Watch Time</li>
              <li>Set Alarm</li>
              <li>Know about timeZone</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">More About This Zone</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">China <i class="bi bi-clock"></i></h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title" id="china"></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>China Timezone</li>
              <li>Watch Time</li>
              <li>Set Alarm</li>
              <li>Know about timeZone</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Contact us</button>
          </div>
        </div>
      </div>
      </div>
      <div class="container">
      <label for="appt">Set an Alarm</label>
<input type="time" id="alarm" name="alarm">
</div>
</body>
<script>
const updatetime=()=>{


    let date =new Date();
    us.innerHTML=date.toLocaleString('en-US', {
    timeZone: 'America/Los_Angeles',
  }).split(", ")[1]
    india.innerHTML=date.toLocaleString('en-US', {
    timeZone: 'Asia/Kolkata',
  }).split(", ")[1]
    china.innerHTML=date.toLocaleString('en-US', {
    timeZone: 'Asia/Shanghai',
  }).split(", ")[1]
  let alarmour =alarm.value.split(":")[0]
  let alarmmin =alarm.value.split(":")[1]
//   console.log(date.getHours(),alarmour)
//   console.log(date.getMinutes(),alarmmin)
  if(date.getHours()==alarmour && date.getMinutes()==alarmmin){
    console.log("alarm is ring")
    var audio =new Audio("http://127.0.0.1:5500/alarm.mp3")
    audio.play()
  }


}

setInterval(updatetime,1000)
</script>
</html>